.formContainer {
  margin: 20px 0;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
}

.toast {
  margin: 2rem;
}

.loggedOutContainer {
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
